@charset "utf-8";
/* CSS Document */
body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, img, div {
    border: 0 none;
    margin: 0;
    padding: 0;
}


/*@font-face {
    font-family: 'AvenirLTStd-light';
    src: url('../fonts/Avenir-light/AvenirLTStd-light.eot');
    src: url('../fonts/Avenir-light/AvenirLTStd-light.eot?#iefix') format('embedded-opentype'),
     url('../fonts/Avenir-light/AvenirLTStd-light.woff') format('woff'), 
     url('../fonts/Avenir-light/AvenirLTStd-light.ttf') format('truetype'),
      url('../fonts/Avenir-light/AvenirLTStd-light.svg#AvenirLTStd-light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirLTStd';
    src: url('../fonts/Avenir/AvenirLTStd-Medium.eot');
    src: url('../fonts/Avenir/AvenirLTStd-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Avenir/AvenirLTStd-Medium.woff') format('woff'), url('../fonts/Avenir/AvenirLTStd-Medium.ttf') format('truetype'), url('../fonts/Avenir/AvenirLTStd-Medium.svg#AvenirLTStd-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

@font-face {
    font-family: 'times';
    src: url('../fonts/times/TIMESLTSTD-ROMAN.eot');
    src: url('../fonts/times/TIMESLTSTD-ROMAN.eot?#iefix') format('embedded-opentype'), url('../fonts/times/TIMESLTSTD-ROMAN.woff') format('woff'), url('../fonts/times/TIMESLTSTD-ROMAN.ttf') format('truetype'), url('../fonts/times/TIMESLTSTD-ROMAN.svg#IMPACT') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceHanSerifCN-Regular';
    src: url('../fonts/SourceHanSerifCN-Regular/SourceHanSerifCN-Regular.eot');
    src: url('../fonts/SourceHanSerifCN-Regular/SourceHanSerifCN-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/SourceHanSerifCN-Regular/SourceHanSerifCN-Regular.woff') format('woff'), url('../fonts/SourceHanSerifCN-Regular/SourceHanSerifCN-Regular.ttf') format('truetype'), url('../fonts/SourceHanSerifCN-Regular/SourceHanSerifCN-Regular.svg#IMPACT') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gtam';
    src: url('../fonts/gtam/GT_AMERICA_REGULAR.eot');
    src: url('../fonts/gtam/GT_AMERICA_REGULAR.eot?#iefix') format('embedded-opentype'), url('../fonts/gtam/GT_AMERICA_REGULAR.woff') format('woff'), url('../fonts/gtam/GT_AMERICA_REGULAR.ttf') format('truetype'), url('../fonts/gtam/GT_AMERICA_REGULAR.svg#IMPACT') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Georgia';
    src: url('../fonts/Georgia/GEORGIA.eot');
    src: url('../fonts/Georgia/GEORGIA.eot?#iefix') format('embedded-opentype'), url('../fonts/Georgia/GEORGIA.woff') format('woff'), url('../fonts/Georgia/GEORGIA.ttf') format('truetype'), url('../fonts/Georgia/GEORGIA.svg#IMPACT') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'constan';
    src: url('../fonts/constan/CONSTAN.eot');
    src: url('../fonts/constan/CONSTAN.eot?#iefix') format('embedded-opentype'), url('../fonts/constan/CONSTAN.woff') format('woff'), url('../fonts/constan/CONSTAN.ttf') format('truetype'), url('../fonts/constan/CONSTAN.svg#IMPACT') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
    font-size: 14px;
    font-family: "微软雅黑", Arial, 'AvenirLTStd-light', 'AvenirLTStd', Arial, Helvetica, sans-serif;
    color: #666;
    /*font-weight: lighter;*/
   background: #fff;
}

a {
    text-decoration: none;
    outline: none;
}

    a:active {
        star: expression(this.onFocus=this.blur());
    }

:focus {
    outline: 0;
}

a:hover {
    color: #2a72bb;
    text-decoration: underline;
    transition: all 0s ease 0s;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

img {
    border: none;
    vertical-align: middle;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
    clear: both;
    height: 0px;
}

.clear {
    clear: both;
}



.webkit {
    font-size: 7px;
    -webkit-transform: scale(0.7);
    -webkit-text-size-adjust: none;
}
/*手机导航*/
/* 展开右侧按钮 */

.menu-button {
    position: absolute;
    top: 10px;
    right: 0px;
    padding: 15px;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
    z-index: 10;
}

.bar {
    position: relative;
    display: block;
    width: 35px;
    height: 2px;
    margin: 8px auto;
    background-color: #fff;
    border-radius: 10px;
    -webkit-transition: .3s;
    transition: .3s;
}

.menu-button .bar:nth-of-type(1) {
    margin-top: 0px;
}

.menu-button .bar:nth-of-type(3) {
    margin-bottom: 0px;
}

.menu-button:hover .bar:nth-of-type(1) {
    -webkit-transform: translateY(1.5px) rotate(-4.5deg);
    -ms-transform: translateY(1.5px) rotate(-4.5deg);
    transform: translateY(1.5px) rotate(-4.5deg);
}

.menu-button:hover .bar:nth-of-type(2) {
    opacity: .9;
}

.menu-button:hover .bar:nth-of-type(3) {
    -webkit-transform: translateY(-1.5px) rotate(4.5deg);
    -ms-transform: translateY(-1.5px) rotate(4.5deg);
    transform: translateY(-1.5px) rotate(4.5deg);
}
/* end */

.header-nav .sub-title + ul > li > a {
    width: 100%;
    overflow: hidden;
    display: block;
    font-size: 16px;
    padding: 5px 0;
    color: #eee;
}

/*手机导航*/
.navbar {
    margin-bottom: 0;
}

.header-nav {
    bottom: auto;
    top: 0;
    text-align: left;
}

    .header-nav .nav {
        float: none;
    }

        .header-nav .nav > li {
            float: none;
            display: block;
            padding: 6px 0 5px 0;
        }

            .header-nav .nav > li > a {
                padding: 0;
                font-size: 18px;
            }

                .header-nav .nav > li > a span {
                    /*padding-bottom: 8px;*/
                    display: inline-block;
                    color: #fff;
                    padding-right: 8px;
                }



        .header-nav .nav .fa-angle-down:before {
            content: "\f105";
            color: #fff;
            opacity: .75;
            margin-top: 0px;
        }

        .header-nav .nav > li > a:focus, .header-nav .nav > li > a:hover, .header-nav .nav .open > a, .header-nav .nav .open > a:focus, .header-nav .nav .open > a:hover {
            background: none;
            border: none;
            color: #fff;
        }

            .header-nav .nav > li > a:focus .fa-angle-down:before, .header-nav .nav > li > a:hover .fa-angle-down:before {
                content: "\f105";
            }



    .header-nav .sub-title + ul {
        border-top: 1px dashed #fff;
        padding: 10px 0 10px 20px;
    }

        .header-nav .sub-title + ul > li > a {
            width: 100%;
            overflow: hidden;
            display: block;
            font-size: 16px;
            padding: 5px 0;
            color: #eee;
        }

ol.no-style li, ul.no-style li {
    list-style: none;
    position: relative;
    line-height: 150%;
}


/* 手机导航end */

/*手机导航*/
.navbar-toggle {
    margin-top: 28px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-nav > li {
    display: inline-block;
    position: relative;
    z-index: 1;
    display: block;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 18px;
    padding: 18px 16px;
}

    /*nav导航开始*/
    .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a.active {
        background: #a3c721;
        color: #fff;
        text-decoration: none;
    }

.navbar-nav > li > a:hover {
    color: #fff;
    background: #a3c721;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-default {
    background-color: transparent;
    border: none;
    min-height: 0;
}

.choose {
    color: #fff;
}

.navbar-nav > li > a > span {
    color: #fff;
    display: block;
    width: 80px;
    height: 24px;
    line-height: 24px;
    background-color: #a41034;
    border-radius: 15px;
}

.navbar-right .xl a {
    font-size: 12px;
    color: #666;
}

ol.no-style, ul.no-style {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}

    ol.no-style li, ul.no-style li {
        list-style: none;
        position: relative;
        line-height: 150%;
    }

ol.outside.no-style, ul.outside.no-style {
    padding-left: 48px;
}

ol.inline-block li, ul.inline-block li {
    display: inline-block;
}

    ol.inline-block li, ul.inline-block li a {
        color: #fff;
    }

/*ol.outside.no-style a, ul.outside.no-style a {
    color: #fff;
}*/

.dropdown-menu > li > a {
    color: #fff;
}





@media only screen and (max-width: 767px) {
    /*导航*/
    .navbar .navbar-collapse {
        background: #a3c721;
        z-index: 111;
        position: relative;
    }

    .navbar-default .navbar-nav > li > a {
        color: #fff;
        font-size: 18px;
        padding: 5px 4px;
    }

    /*内页小屏幕table响应问题*/
    .right-nr table td, .right-nr table th {
        white-space: nowrap;
    }
}


/*header-nav*/
@media screen and (min-width: 992px) {

    .header-nav .nav {
        display: table;
        width: 100%;
        position: relative;
    }

        .header-nav .nav > li {
            position: static;
            display: table-cell;
            float: none;
            text-align: center;
        }

    .header-nav .dropdown-menu {
        background: rgba(255, 255, 255,0.96);
        border-radius: 0;
        border: none;
        float: none;
        right: 0;
        padding: 30px 50px;
        border-top: 3px solid #a3c721;
        border-bottom: 3px solid #a3c721;
        margin-top: -1px;
    }

    .header-nav .nav > li > a {
        font-size: 18px;
        display: block;
        padding: 8px 0;
        border-radius: 0;
        color: #fff;
        -webkit-transition: all .2s;
        -o-transition: all .2s;
        transition: all .2s;
    }

        .header-nav .nav > li > a .fa {
            /*margin-left: 5px;*/
            vertical-align: middle;
            -webkit-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
        }

        .header-nav .nav > li > a:focus, .header-nav .nav > li > a:hover {
            text-decoration: none;
            background-color: #a3c721;
            border: none;
            color: #fff;
            opacity: 0.9;
        }

    .header-nav .nav .open > a, .header-nav .nav .open > a:focus, .header-nav .nav .open > a:hover {
        background-color: #a3c721;
        color: #fff;
    }

        .header-nav .nav .open > a .fa-angle-down {
            -webkit-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
        }

    .header-nav .nav .open {
        -webkit-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }

        .header-nav .nav .open > a .fa-angle-down {
            -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            transform: rotate(90deg);
        }

    .nav-pills > li + li {
        margin-left: 0;
    }

    /*sub-menu*/

    .header-nav .dropdown-menu .sub-title {
        font-size: 20px;
        display: block;
        color: #a3c721;
        margin-top: 10px;
        margin-bottom: 10px;
    }



        .header-nav .dropdown-menu .sub-title + ul > li {
            border-bottom: 1px dashed #ccc;
            position: relative;
        }

            .header-nav .dropdown-menu .sub-title + ul > li:before {
                content: "";
                position: absolute;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background: #a3c721;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
                left: -18px;
                top: 17px;
            }

            .header-nav .dropdown-menu .sub-title + ul > li > a {
                display: block;
                padding: 9px 0;
                color: #333;
                font-size: 16px;
            }

            .header-nav .dropdown-menu .sub-title + ul > li a:hover {
                color: #a3c721;
            }


    .mobile-nav-header {
        display: none !important;
    }


    /*header header-fixed*/
    .header.header-fixed .header-nav {
        /*background: #8b9ba2a1;*/
        /*background: url(../../images/en/ttbg.png) repeat ;*/
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        border-bottom: 1px solid #8b9ba2;
        /*background: #115679;*/
        background: rgba(185,195,199,0.85);
    }

        .header.header-fixed .header-nav .nav > li > a {
            padding: 15px 0;
        }
}

@media screen and (min-width: 1400px) {
    .header-nav .nav > li > a {
        padding: 15px 0;
    }
}

/* mobile header-nav*/
@media screen and (max-width: 1199px) {

    .header-nav {
        bottom: auto;
        top: 0;
        text-align: left;
    }

        .header-nav .nav {
            float: none;
        }

            .header-nav .nav > li {
                float: none;
                display: block;
            }

                .header-nav .nav > li > a {
                    padding: 0;
                    font-size: 17px;
                }

                    .header-nav .nav > li > a span {
                        padding: 8px 0;
                        display: inline-block;
                        /**/
                        color: #fff;
                    }

                        .header-nav .nav > li > a span i {
                            font-style: normal;
                            padding-left: 10px;
                            font-size: 14px;
                        }

    .nav > li > a > img {
        padding-right: 10px;
    }

    .header-nav .nav-pills, .header-nav .dropdown-menu {
        position: fixed;
        top: 0;
        right: -280px;
        bottom: 0;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        z-index: 999;
        width: 280px;
        background: #023ca6;
        padding: 15px 15px 30px;
        left: auto;
        height: auto;
        overflow-x: hidden;
        overflow-y: auto;
        display: block;
        -webkit-box-shadow: none;
        box-shadow: none;
        opacity: 1;
    }

    .header-nav .dropdown-menu {
        border: none;
        padding: 15px 0;
        margin-top: 0;
    }

        .header-nav .dropdown-menu > .row {
            padding: 0;
            width: auto;
            margin: 0;
        }

    .header-mobile {
        float: right;
    }

    .site-mobile .header-nav .nav-pills, .site-mobile .dropdown-menu.show {
        right: 0;
        -webkit-transition: all .6s;
        -o-transition: all .6s;
        transition: all .6s;
    }

    .site-tree-mobile {
        display: block !important;
        height: 74px;
        line-height: 74px;
        text-align: center;
        font-size: 18px;
        cursor: pointer;
        color: #fff;
        padding: 0 15px;
        position: absolute;
        z-index: 998;
        right: 0px;
        top: 10px;
    }

        .site-tree-mobile .fa {
            font-size: 22px;
            margin-left: 5px;
            color: #fff;
        }

    .site-mobile .site-mobile-shade {
        content: '';
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,.75);
        z-index: 999;
        -webkit-transition: all .6s;
        -o-transition: all .6s;
        transition: all .6s;
    }


    .header-nav .nav .fa-angle-down {
        float: right;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 40px;
        right: -15px;
        line-height: 40px;
        text-align: center;
        margin-top: 0px;
    }

        .header-nav .nav .fa-angle-down:before {
            content: "\f105";
            color: #fff;
            opacity: .75;
            margin-top: 0px;
        }

    .header-nav .nav > li > a:focus, .header-nav .nav > li > a:hover, .header-nav .nav .open > a, .header-nav .nav .open > a:focus, .header-nav .nav .open > a:hover {
        background: none;
        border: none;
        color: #333;
    }


        .header-nav .nav > li > a:focus .fa-angle-down:before, .header-nav .nav > li > a:hover .fa-angle-down:before {
            content: "\f105";
        }

    .mobile-nav-header {
        display: block !important;
        text-align: right;
        margin-top: -15px;
        height: 60px;
        line-height: 60px !important;
        margin-left: 15px;
        margin-right: 15px;
    }

    .header-nav .back, .header-nav .closeIcon {
        color: #fff;
        font-size: 38px;
        display: inline-block;
        cursor: pointer;
    }

    .header-nav .back {
        font-size: 24px;
    }

    .header-nav .back {
        float: left;
    }

    .header-nav .dropdown-menu > .row > li {
        padding-left: 15px;
        padding-right: 15px;
    }

    .header-nav .dropdown-menu .sub-title {
        padding: 5px 0;
        display: block;
        font-size: 18px;
        color: #fff;
    }

    .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
        background: none;
    }

    .header-nav .dropdown-menu .sub-title + ul {
        border-top: 1px dashed #fff;
        padding: 10px 0 10px 20px;
    }

        .header-nav .dropdown-menu .sub-title + ul > li:before {
            content: "";
            position: absolute;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: #fff;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
            left: -18px;
            top: 12px;
            opacity: .85;
        }

        .header-nav .dropdown-menu .sub-title + ul > li > a {
            width: 100%;
            overflow: hidden;
            display: block;
            font-size: 14px;
            padding: 5px 0;
            color: #fff;
            opacity: 0.7;
        }

    .navbar-header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        /*background: rgba(47,69,192,0.55);*/
   
       padding:5px 10px;
       border-bottom: 1px solid #0d40ad;
       background: #1e4fce;
        	/*background: url(../images/topbg.jpg) repeat center center;*/
        background-size: cover;
        /*padding: 1px 0 5px;*/
        /*padding-left: 10px;
        padding: 5px 5px;*/
        /*border-top:2px solid #f2581c;*/
    }

    .dropdown-backdrop {
        display: none;
    }

    body {
        position: relative;
        left: 0;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }

    .site-mobile {
        left: -280px;
    }
}

@media screen and (max-width: 767px) {
    .site-tree-mobile {
        height: 50px;
        line-height: 50px;
    }


    #img {
        /*height: 60px;*/
        padding: 5px;
        /*width: 86%;*/
    }

    #dituContent {
        height: 280px;
    }
}

@media screen and (max-width: 767px) and (min-width: 568px) {
    .col-xsm-6 {
        width: 50%;
        float: left;
        padding-left: 15px;
        padding-right: 15px;
    }

    #dituContent {
        height: 280px;
    }
}

.table-responsive {
    border: none;
}
