@charset "utf-8";
/* CSS Document */
/*2023.7.10*/
/*2023.7.19*/

.fl {
    float: left;
}

.fr {
    float: right;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.pos {
    position: relative;
}

body {
}

.box {
    overflow: hidden;
}

.container {
    max-width: 1430px;
    min-width: 400px;
    width: 90%;
}

.container2 {
    max-width: 1790px;
    width: 90%;
}

.bg1 {
    background: url(../../images/bg1.jpg) repeat-x center top;
    min-height: 400px;
    position: relative;
    padding-bottom: 160px;
}

/*顶部弹出搜索样式*/
/*header-top*/

.header-top {
    color: #fff;
    position: absolute;
    top: -6px;
    right: 15px;
    text-align: right;
}

.search-btn {
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    color: #333;
    margin-top: 11px;
}

    .search-btn:hover {
        opacity: .9;
        text-decoration: none;
    }

.top-tright {
    z-index: 1;
}

.search-box {
    height: 0;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
    position: relative;
    z-index: 1000;
    background: #fff;
}

    .search-box h2 {
        font-size: 24px;
        color: #555;
        margin-bottom: 30px;
        margin-top: 50px;
    }

    .search-box .container {
        position: relative;
    }

    .search-box .close {
        position: absolute;
        top: 30px;
        right: 15px;
        font-size: 14px;
        cursor: pointer;
    }

        .search-box .close i {
            font-style: normal;
        }

.search-form {
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}

    .search-form .form-text {
        width: 100%;
        border: none;
        border-bottom: 1px solid #ccc;
        font-style: italic;
        height: 60px;
        font-size: 16px;
        box-shadow: none;
        /*padding: 0 100px 0 15px;*/
        border-radius: 0;
    }

        .search-form .form-text:focus {
            border: none;
            border-bottom: 1px solid #ccc;
            font-style: normal;
            border-bottom-color: #0d3692;
        }

    .search-form .form-submit {
        position: absolute;
        right: 0;
        top: 0px;
        width: 100px;
        height: 60px;
        line-height: 60px;
        background: none;
        border: none;
        outline: none;
        color: #666;
        font-weight: bold;
        font-size: 20px;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }

        .search-form .form-submit:hover {
            background: #1f50cf;
            color: #fff;
        }

/*顶部弹出样式 end*/
.top-trtop {
}

    .top-trtop a {
        padding-right: 30px;
    }

.topp {
    padding-top: 26px;
}

.logo {
    z-index: 1;
}
   .wc-menu ul {
        /*转化为table 并且，宽度百分百，*/
        display: table;
        width: 100%;
        margin-bottom: 0;
        padding-left: 0;
    }

        .wc-menu ul li {
            line-height: 40px;
            position: relative;
            /*居中并且转为table-cell*/
            text-align: center;
            display: table-cell;
            /*float: left;*/
            list-style: none;
            /*margin: 0 20px;*/
        }


            .wc-menu ul li a {
                font-size: 18px;
                color: #fff;
                position: relative;
                display: inline-block;
                /*transition: all 0.2s;*/
                text-decoration: none;
                padding: 0 15px;
                padding-bottom: 30px;
            }

                .wc-menu ul li a.active,
                .wc-menu ul li a.move,
                .wc-menu ul li a.selected,
                .wc-menu ul li a.parent {
                    background: url(../../images/mah.png) no-repeat center bottom;
                }


                .wc-menu ul li a.active,
                .wc-menu ul li a:hover {
                    background: url(../../images/mah.png) no-repeat center bottom;
                }

            .wc-menu ul li .ernav {
                position: absolute;
                /*position: relative;*/
                left: 0%;
                top: 62px;
                background: #fff;
                width: 120%;
                min-width: 120px;
                z-index: 111 !important;
                display: none;
                opacity: 0.95;
                min-height: 100px;
                padding: 22px 5px;
            }

                .wc-menu ul li .ernav img {
                    float: left;
                    width: 50%;
                    display: none;
                }

                .wc-menu ul li .ernav ul {
                    float: none;
                    width: 100%;
                }

                    .wc-menu ul li .ernav ul li {
                        /*text-align: center;*/
                        float: none;
                        display: block;
                        /*二级下拉有影响，需要转化为块状*/
                        background: none;
                        text-align: center;
                        line-height: 26px;
                        border: none;
                    }

                        .wc-menu ul li .ernav ul li:last-child {
                            border-bottom: none;
                        }

                        .wc-menu ul li .ernav ul li a {
                            line-height: 24px;
                            font-size: 16px;
                            /*text-align: center;*/
                            background: none;
                            box-shadow: none;
                            border-radius: 0;
                            color: #333;
                            margin: 0;
                            display: block;
                            padding: 4px 4px;
                            border-bottom: none;
                            font-weight: normal;
                            text-decoration: none;
                        }

                            .wc-menu ul li .ernav ul li a:hover {
                                color: #1d4dc8;
                            }

/*menu End*/

[cut="home-hero"] {
    clip-path: polygon(0 8.00em, 8.00em 0, 100% 0, 100% 100%, 8.00em 100%, 0 calc(100% - 8.00em));
}

[cut="5em"] {
    clip-path: polygon(0 8.00em, 10.00em 0, calc(100% - 8.00em) 0, 100% 8.00em, 100% calc(100% - 8.00em), calc(100% - 8.00em) 100%, 8.00em 100%, 0 calc(100% - 8.00em));
}

/*方向：上右下左*/
[cut="6em"] {
    clip-path: polygon(0 6.00em, 6.00em 0, calc(100% - 6.00em) 0, 100% 0.00em, 100% calc(100% - 0.00em), calc(100% - 0.00em) 100%, 0.00em 100%, 0 calc(100% - 0.00em));
}

[cut="61em"] {
    clip-path: polygon(0 2.00em, 2.00em 0, calc(100% - 2.00em) 0, 100% 0.00em, 100% calc(100% - 0.00em), calc(100% - 0.00em) 100%, 0.00em 100%, 0 calc(100% - 0.00em));
}


[cut="55em"] {
    clip-path: polygon(0 5.00em, 5.00em 0, calc(100% - 5.00em) 0, 100% 5.00em, 100% calc(100% - 0.00em), calc(100% - 0.00em) 100%, 0.00em 100%, 0 calc(100% - 0.00em));
}

[cut="13em"] {
    clip-path: polygon(0 0.00em, 0.00em 0, calc(100% - 1em) 0, 100% 1.00em, 100% calc(100% - 8.00em), calc(100% - 0.00em) 100%, 0.00em 100%, 0 calc(100% - 0.00em));
}

[cut="7em"] {
    clip-path: polygon(0 0.00em, 0.00em 0, calc(100% - 0.00em) 0, 100% 4.00em, 100% calc(100% - 5.00em), calc(100% - 5.00em) 100%, 0.00em 100%, 0 calc(100% - 0.00em));
}



[cut="2em"] {
    clip-path: polygon(0 4.00em, 4.00em 0, calc(100% - 4.00em) 0, 100% 4.00em, 100% calc(100% - 4.00em), calc(100% - 4.00em) 100%, 4.00em 100%, 0 calc(100% - 4.00em));
}

[cut="1em"] {
    clip-path: polygon(0 2.00em, 2.00em 0, calc(100% - 2.00em) 0, 100% 2.00em, 100% calc(100% - 2.00em), calc(100% - 2.00em) 100%, 2.00em 100%, 0 calc(100% - 2.00em));
}

[cut="0.5em"] {
    clip-path: polygon(0 1.00em, 1.00em 0, calc(100% - 1.00em) 0, 100% 1.00em, 100% calc(100% - 1.00em), calc(100% - 1.00em) 100%, 1.00em 100%, 0 calc(100% - 1.00em));
}

[cut="0.4em"] {
    clip-path: polygon(0 1.00em, 1.00em 0, calc(100% - 1.00em) 0, 100% 1.00em, 100% calc(100% - 1.00em), calc(100% - 1.00em) 100%, 1.00em 100%, 0 calc(100% - 1.00em));
}





.index-con {
}



img {
    max-width: 100%;
}

.logo {
    text-align: left;
}


.banbg {
    /*背景图像不会重复，并且会被定位在元素的顶部中间位置*/
    background: url(../../images/ban1.jpg) no-repeat center top;
    min-height: 800px;
    margin-top: 30px;
}

.byin {
    background: url(../../images/yin.png) no-repeat center top;
    padding: 10px 0px 10px;
    min-height: 922px;
    margin-top: -25px;
}

.bbg {
    padding: 25px 0;
}

.b-con {
    padding-top: 10%;
}



.b-banner {
}

    .b-banner img {
        cursor: pointer;
        max-width: 100%;
    }


    .b-banner .swiper-container {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .b-banner .swiper-wrapper {
        width: 100%;
    }

    .b-banner .swiper-container .swiper-slide {
        text-align: right;
    }

        .b-banner .swiper-container .swiper-slide a .ban-img {
            width: 50%;
            float: right;
        }

    .b-banner .swiper-container a .ban-text {
        text-align: left;
        float: left;
        width: 46%;
        margin-top: 15px;
    }

        .b-banner .swiper-container a .ban-text h5 {
            font-size: 42px;
            font-weight: bold;
            color: #fff;
            line-height: 54px;
            text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.55);
            /*padding-bottom: 20px;*/

            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            margin-bottom: 40px;
        }

        .b-banner .swiper-container a .ban-text p {
            font-size: 16px;
            color: #fff;
            line-height: 30px;
            /*padding-bottom: 20px;*/

            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
        }


    .b-banner .swiper-container a {
        text-decoration: none;
        display: block;
        position: relative;
    }


    .b-banner .swiper-container .swiper-pagination {
        text-align: left;
        bottom: 10px;
        width: 100%;
        left: 30%;
    }

    .b-banner .swiper-container .swiper-pagination-bullet {
        display: inline-block;
        width: 34px;
        height: 11px;
        background: #fff;
        cursor: pointer;
        opacity: 1;
        border-radius: 5px;
        margin-right: 13px;
    }

    .b-banner .swiper-container .swiper-pagination-bullet-active {
        background: linear-gradient(to bottom, #54c8f2, #3184ed);
    }


.boredr2 {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    background: #2251ad;
    width: 92%;
    height: 92%;
    margin-top: 4%;
}

.ban-img1 {
    padding-right: 16px;
    padding-bottom: 19px;
}

    .ban-img1 img {
        position: relative;
        z-index: 12;
    }




.newsbg {
    /*padding: 80px 0;*/
    margin-top: 10px;
    padding-bottom: 90px;
}

.new-top {
    position: relative;
}

    .new-top span {
        font-size: 32px;
        color: #fff;
        float: left;
    }

    .new-top a {
        font-size: 16px;
        color: #fff;
        float: right;
        margin-top: 30px;
    }

.new-top2 a {
    padding-right: 30px;
}

.news-ban {
    padding-top: 32px;
}

    .news-ban a {
        display: block;
        text-decoration: none;
        transition: all 0.4s ease-out;
    }

        .news-ban a:hover {
            margin-top: -8px;
        }

        .news-ban a img {
        }

        .news-ban a .ban-text {
        }

            .news-ban a .ban-text span {
                display: block;
                font-size: 18px;
                color: #fff;
                line-height: 32px;
                min-height: 64px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                margin: 25px 0;
            }

            .news-ban a .ban-text p {
                font-size: 14px;
                color: #fff;
                line-height: 24px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
                min-height: 125px;
            }

        .news-ban a i {
            font-style: normal;
            font-size: 14px;
            color: #fff;
            border-radius: 15px;
            background: linear-gradient(to bottom, #55cbf2, #3183ed);
            line-height: 30px;
            padding: 0 10px;
            display: inline-block;
        }




    .news-ban .swiper-container .swiper-pagination {
        bottom: 10px;
        width: 100%;
    }

    .news-ban .swiper-container .swiper-pagination-bullet {
        display: inline-block;
        width: 12px;
        height: 12px;
        background: #fff;
        cursor: pointer;
        opacity: 0.98;
        border-radius: 100%;
        margin-right: 8px;
    }

    .news-ban .swiper-container .swiper-pagination-bullet-active {
        background: #2b4dff;
    }




/**/
.tong-ul {
}

    .tong-ul ul {
        padding: 0;
        margin: 0;
    }

        .tong-ul ul li {
            margin-bottom: 25px;
            margin-top: 30px;
            transition: all 0.4s ease-out;
        }

            .tong-ul ul li a {
                display: block;
                text-decoration: none;
                transition: all 0.4s ease-out;
            }

                .tong-ul ul li a:hover {
                    margin-left: 6px;
                }

                    .tong-ul ul li a:hover .li-tt {
                        border-bottom-width: 4px;
                    }

                .tong-ul ul li a .li-date {
                    background: url(../../images/tongbg.png) no-repeat center center;
                    width: 98px;
                    height: 85px;
                    text-align: center;
                    position: relative;
                }

                    .tong-ul ul li a .li-date span {
                        display: block;
                        font-size: 20px;
                        color: #fff;
                        font-weight: bold;
                        padding-top: 18px;
                    }

                    .tong-ul ul li a .li-date p {
                        font-size: 16px;
                        color: #fff;
                    }

                    .tong-ul ul li a .li-date i {
                        font-size: 12px;
                        color: #fff;
                        background: #e85527;
                        border-radius: 20px;
                        line-height: 20px;
                        padding: 0 5px;
                        font-style: normal;
                        position: absolute;
                        top: 0;
                        right: 0;
                    }

                .tong-ul ul li a .li-tt {
                    border-bottom: 1px solid #2673f7;
                    width: calc(100% - 118px);
                    transition: all 0.4s ease-out;
                    box-shadow: 0px 35px 57px -17px rgba(0, 0, 0, 0);
                }


                    /* .tong-ul ul li:hover .li-tt {
                box-shadow: 0px 35px 57px -17px rgba(0, 0, 0, 0.35);
                transform: scale(1.02);
                transition: all 0.4s ease-out;
                cursor: pointer;
            } */





                    .tong-ul ul li a .li-tt p {
                        font-size: 18px;
                        color: #fff;
                        line-height: 32px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }

                        .tong-ul ul li a .li-tt p i {
                            font-size: 12px;
                            color: #fff;
                            background: #e85527;
                            border-radius: 20px;
                            line-height: 20px;
                            padding: 0 5px;
                            font-style: normal;
                        }



/**/
.bg2 {
    background: url(../../images/bg2.jpg) no-repeat center top;
    min-height: 500px;
    padding-bottom: 150px;
}

.dbg {
}

.d-banner {
}

.dang {
    /*
	*/
}

.dbg2 {
    margin-top: -140px;
    background: url(../../images/dimg.jpg) no-repeat center top;
    min-height: 800px;
    padding-top: 130px;
}

.byin2 {
    background: url(../../images/yin.png) no-repeat center -150px;
}

.new-top3 {
    position: absolute;
}

    .new-top3 span {
        font-size: 32px;
        color: #333;
        display: block;
    }

.dj-ban {
}

    .dj-ban .swiper-container {
        padding-bottom: 30px;
    }

        .dj-ban .swiper-container .swiper-slide {
        }

            .dj-ban .swiper-container .swiper-slide a {
                display: block;
                text-decoration: none;
            }

                .dj-ban .swiper-container .swiper-slide a .ban-text {
                    width: 37%;
                    float: left;
                    padding-top: 70px;
                }

                .dj-ban .swiper-container .swiper-slide a .ban-img {
                    width: 60%;
                    float: right;
                }

                .dj-ban .swiper-container .swiper-slide a .ban-text h5 {
                    font-size: 26px;
                    color: #4156d2;
                    line-height: 48px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    margin-top: 50px;
                }

                .dj-ban .swiper-container .swiper-slide a .ban-text p {
                    font-size: 16px;
                    color: #999;
                    line-height: 30px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 4;
                    -webkit-box-orient: vertical;
                    min-height: 160px;
                }

                .dj-ban .swiper-container .swiper-slide a .ban-text i {
                    font-size: 18px;
                    color: #335ff1;
                    font-style: normal;
                }

        .dj-ban .swiper-container .swiper-button-prev,
        .dj-ban .swiper-container-rtl .swiper-button-next {
            background: none;
        }

    .dj-ban .swiper-button-next,
    .dj-ban .swiper-container-rtl .swiper-button-prev {
        background: none;
    }

    .dj-ban .swiper-button-next,
    .dj-ban .swiper-button-prev {
        top: 100%;
    }

    .dj-ban .swiper-container .swiper-button-next,
    .dj-ban .swiper-container .swiper-button-prev {
        width: 79px;
        height: 16px;
        right: 0;
    }

    .dj-ban .swiper-container .swiper-button-prev {
        left: 0;
    }

.boredr3 {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    background: #83a8ee;
    width: 95%;
    height: 96%;
    margin-top: 2%;
}



.dj-ban .swiper-container .swiper-pagination {
    text-align: left;
    bottom: 10px;
    width: 100%;
    left: 30%;
}

.dj-ban .swiper-container .swiper-pagination-bullet {
    display: inline-block;
    width: 34px;
    height: 11px;
    background: #fff;
    cursor: pointer;
    opacity: 1;
    border-radius: 5px;
    margin-right: 13px;
}

.dj-ban .swiper-container .swiper-pagination-bullet-active {
    background: linear-gradient(to bottom, #54c8f2, #3184ed);
}



.keyan {
    min-height: 500px;
    /*padding-top: 60px;*/
    margin-top: -190px;
}

.ke-con {
    padding-top: 40px;
}

.ke-top {
    background: linear-gradient(to bottom, #396afc, #2a4aff);
    min-height: 123px;
    position: relative;
    opacity: .8;
}

    /* .ke-top:hover {
	opacity: 1;
	cursor: pointer;
}
 */
    .ke-top span {
        font-size: 26px;
        color: #fff;
        padding-left: 25px;
        padding-top: 55px;
        display: inline-block;
    }

    .ke-top img {
        position: absolute;
        right: 10px;
        top: 18px;
    }

.ke-ccon {
    margin-top: 10px;
    background: url(../../images/xbg11.png) no-repeat left top;
    width: 314px;
    height: 351px;
    padding: 30px 16px;
    opacity: .8;
}

.ke-oneone {
    width: 92%;
}

    .ke-oneone:hover .ke-ccon {
        opacity: 1;
        background-image: url(../../images/xbg11-h.png);
    }

    .ke-oneone:hover .ke-top {
        opacity: 1;
        cursor: pointer;
    }

.ke-ccon {
}

.ke-more {
    text-align: right;
    padding-right: 10px;
}

.ke-ccon ul {
    padding: 0;
    margin: 0;
}

    .ke-ccon ul li {
        padding: 0;
        margin: 0;
        margin-bottom: 18px;
    }

        .ke-ccon ul li:last-child {
            margin-bottom: 0px;
        }

        .ke-ccon ul li a {
            font-size: 18px;
            color: #fff;
            background: url(../../images/xbg1.png) no-repeat center center;
            width: 278px;
            height: 81px;
            display: block;
            line-height: 24px;
            padding-left: 21px;
            padding-top: 27px;
        }



            .ke-ccon ul li a.a2 {
                padding-right: 39px;
                padding-top: 16px;
            }

/*footer*/

.footer {
    background: #1e4ab8;
    min-height: 96px;
}

.fbg {
    background: #1f51d1;
    padding: 0 80px;
    padding-top: 50px;
}

.f-con {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    z-index: 1;
}



.f-mid {
}

    .f-mid ul {
        margin-bottom: 0;
    }

        .f-mid ul li {
            float: left;
            font-size: 16px;
            color: #fff;
            line-height: 40px;
            width: 50%;
        }

.f-right {
}

    .f-right select {
        width: 100%;
        line-height: 40px;
        height: 40px;
        margin-bottom: 23px;
    }






.wc-copy {
}

    .wc-copy p {
        font-size: 14px;
        color: #fff;
    }


/*.wc-copyEnd*/

/*.mnmd-offcanvas__title{
	background: #b81c22;
}*/
.mnmd-offcanvas-close {
    color: #fff;
}

    .mnmd-offcanvas-close:hover {
        color: #fff;
    }

.navigation--offcanvas li > a:after {
    border-right: 3px solid #1e4fce;
}

.mnmd-offcanvas__title {
    background: #1e4fce;
}

/*另一种方法，宽度百分百*/
/*.navigation--offcanvas .submenu-toggle{
	width: 100%;
	
}
.navigation--offcanvas .submenu-toggle i{
	right: 0px;
	left: auto;
}*/
.mobile-header-btn {
    color: #fff;
    top: 15px;
}

    .mobile-header-btn:hover {
        color: #fff;
    }




@media (min-width: 1200px) {
}

@media (max-width: 1600px) {

    .banbg {
        min-height: 650px;
    }

    .newsbg {
        margin-top: -150px;
    }

    [cut="5em"] {
        clip-path: polygon(0 6.00em, 6.00em 0, calc(100% - 6.00em) 0, 100% 8.00em, 100% calc(100% - 8.00em), calc(100% - 6.00em) 100%, 6.00em 100%, 0 calc(100% - 6.00em))
    }

    .bg1 {
        padding-bottom: 110px;
    }
}

@media (max-width: 1550px) {
    .wc-menu ul li a {
        font-size: 16px;
    }

    /*.new-top span {
        font-size: 44px;
    }*/


    .dbg2 {
        margin-top: -140px;
        background: url(../../images/dimg.jpg) no-repeat center bottom;
        min-height: 658px;
        padding-top: 59px;
    }

    .byin2 {
        min-height: 780px;
    }

    .ke-oneone {
        width: 100%;
    }
}

@media (max-width: 1500px) {
    /*.ke-top span {
        font-size: 28px;
    }*/

    .wc-menu ul li a {
        padding: 0 5px;
        padding-bottom: 30px;
    }
}


@media (max-width: 1440px) {
    .bg1 {
        background: url(../../images/bg1.jpg) repeat-x center 41%;
    }

    .b-banner .swiper-container {
        padding-bottom: 50px;
    }

        .b-banner .swiper-container a .ban-text h5 {
            font-size: 32px;
        }

    .banbg {
        min-height: 600px;
    }

    .byin {
        min-height: auto;
    }

    .tong-ul ul li a .li-tt p {
        font-size: 16px;
    }

    .newsbg {
        margin-top: 50px;
    }

    .dbg2 {
        min-height: auto;
        padding-bottom: 50px;
    }

    .keyan {
        margin-top: 60px;
    }

    .new-top span {
        font-size: 30px;
    }

    .dj-ban .swiper-container .swiper-slide a .ban-text h5 {
        font-size: 28px;
    }

    .ke-top span {
        font-size: 26px;
        padding-top: 35px;
    }

    .ke-top {
        min-height: 90px;
    }

        .ke-top img {
            top: 0px;
            right: 5px;
        }

    .f-mid ul li {
        float: none;
        display: block;
        width: 100% !important;
    }

    .ke-ccon {
        background: none;
        background: rgba(0, 30, 77, 0.55);
        width: 100%;
        height: 100%;
        min-height: 300px;
        border-radius: 20px;
        border: 2px solid #2c4efe;
        border-top: none;
        border-left: none;
    }

        .ke-ccon ul li a {
            width: auto;
        }
}


@media (max-width: 1250px) {

    .ke-ccon ul li a {
        font-size: 16px;
    }
}




@media (max-width: 1200px) {
    /*中等屏幕设备 桌面*/

    .ke-ccon ul li {
        text-align: center;
    }

    .ke-oneone {
        margin-bottom: 30px;
    }

    .f-mid ul li {
        width: 40%;
        line-height: 30px;
        margin-bottom: 10px;
    }

        .f-mid ul li:nth-child(1),
        .f-mid ul li:nth-child(3) {
            width: 60%;
        }

    .bg1 {
        padding-top: 100px;
    }

    .banbg {
        min-height: 500px;
    }

    [cut="5em"] {
        clip-path: polygon(0 4em, 4em 0, calc(100% - 4em) 0, 100% 4em, 100% calc(100% - 4em), calc(100% - 5em) 100%, 4em 100%, 0 calc(100% - 4em));
    }

    .tong-ul ul li {
        margin-bottom: 0;
        margin-top: 26px;
    }

    .dj-ban .swiper-container .swiper-slide a .ban-text h5 {
        margin-top: 15px;
    }

    .dj-ban .swiper-container .swiper-slide a .ban-text i {
        font-size: 16px;
    }

    .byin2 {
        background: none;
    }

    .new-top span {
        font-size: 28px;
    }

    .ke-top span {
        font-size: 20px;
    }
}


@media (max-width: 991px) {
    /*小屏幕设备 平板*/

    .container {
        width: 94%;
    }

    .logo1 img {
    }

    .b-banner .swiper-container a .ban-text h5 {
        font-size: 22px;
        line-height: 32px;
    }

    .b-con {
        padding-top: 5%;
    }

    .banbg {
        min-height: auto;
    }

    .dj-ban .swiper-container .swiper-slide a .ban-text h5 {
        font-size: 22px;
        line-height: 40px;
    }
}



@media (max-width: 767px) {

    /*超小屏幕设备 手机*/
    .right-nr table td,
    .right-nr table th {
        white-space: nowrap;
    }

    .logo1 {
        padding-bottom: 1px;
        width: 90%;
        text-align: left;
        float: left;
    }

        .logo1 img {
            padding-top: 6px;
        }

    .mobile-header-btn {
        top: 16px;
    }

        .mobile-header-btn i {
        }

    #img {
        /*height: 72px;*/
    }

    .logo1 img {
        /*height: 60px;*/
    }

    .container {
        width: 100%;
    }

    [cut="5em"] {
        clip-path: polygon(0 0em, 0em 0, calc(100% - 0em) 0, 100% 0em, 100% calc(100% - 0em), calc(100% - 0em) 100%, 0em 100%, 0 calc(100% - 0em));
    }

    .b-banner .swiper-container a .ban-text {
        float: none;
        width: 100%;
        padding-top: 1.5rem;
    }

    .b-banner .swiper-container .swiper-slide a .ban-img {
        float: none;
        width: 100%;
    }

    .banbg {
        margin-top: 5px;
    }

    .b-banner .swiper-container a .ban-text h5 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .b-con {
        padding-top: 1%;
    }

    [cut="7em"] {
        clip-path: polygon(0 0.00em, 0.00em 0, calc(100% - 0.00em) 0, 100% 4.00em, 100% calc(100% - 2.00em), calc(100% - 2.00em) 100%, 0.00em 100%, 0 calc(100% - 0.00em));
    }

    .b-banner .swiper-container a .ban-text p {
        font-size: 14px;
        line-height: 26px;
    }

    .b-banner .swiper-container .swiper-pagination {
        text-align: center;
        left: auto;
    }

    .b-banner {
        padding-bottom: 20px;
    }



    .news-ban .swiper-container .swiper-pagination {
        bottom: -5px;
    }

    .bg1 {
        padding-top: 81px;
    }

    .new-top a {
        margin-top: 5px;
        padding-right: 0;
    }

    .newsbg {
        margin-top: 30px;
    }

    .news-ban a .ban-text span {
        margin: 15px 0;
        line-height: 24px;
    }

    .news-ban a .ban-text p {
        min-height: 100px;
    }

    .news-ban a i {
        display: none;
    }

    .news-ban a {
        text-align: center;
    }

        .news-ban a span,
        .news-ban a p {
            text-align: left;
        }

    .new-right {
        margin-top: 30px;
    }

    .dj-ban .swiper-container .swiper-slide a .ban-text {
        width: 100%;
        float: none;
        padding-top: 35px;
    }

    .dj-ban .swiper-container .swiper-slide a .ban-img {
        width: 100%;
        float: none;
    }

    .bg1 {
        padding-bottom: 0;
    }

    .newsbg {
        padding-bottom: 45px;
    }

    .dbg2 {
        margin-top: 0px;
        padding-top: 25px;
    }

    .byin2 {
        padding-top: 0;
    }

    .dj-ban .swiper-container .swiper-slide a .ban-text h5 {
        font-size: 18px;
        line-height: 30px;
    }

    .dj-ban .swiper-container .swiper-pagination {
        text-align: center;
        left: 0;
    }

    .dj-ban .swiper-container .swiper-slide a .ban-text p {
        line-height: 26px;
        font-size: 14px;
    }

    .dj-ban .swiper-container .swiper-slide a .ban-text i {
        display: none;
    }

    [cut="6em"] {
        clip-path: polygon(0 3.00em, 3.00em 0, calc(100% - 3.00em) 0, 100% 0.00em, 100% calc(100% - 0.00em), calc(100% - 0.00em) 100%, 0.00em 100%, 0 calc(100% - 0.00em));
    }

    .dj-ban .swiper-container .swiper-slide a .ban-text p {
        min-height: 100px;
    }

    .dj-ban .swiper-container {
        padding-bottom: 50px;
    }

    .dbg2 {
        padding-bottom: 20px;
    }

    .keyan {
        margin-top: 20px;
    }

    .ke-con {
        padding-top: 25px;
    }

    .bg2 {
        padding-bottom: 50px;
        background-size: cover;
    }

    .new-top span {
        font-size: 20px;
    }


    .keyan {
        padding: 0 20px;
    }

    .ke-top {
        min-height: 50px;
    }

        .ke-top span {
            padding-top: 12px;
            font-size: 18px;
        }

        .ke-top img {
            width: 16%;
        }

    .ke-ccon ul li a {
        font-size: 16px;
    }


    [cut="55em"] {
        clip-path: polygon(0 1.00em, 1.00em 0, calc(100% - 1.00em) 0, 100% 1.00em, 100% calc(100% - 0.00em), calc(100% - 0.00em) 100%, 0.00em 100%, 0 calc(100% - 0.00em));
    }

    .f-con {
        position: relative;
    }

    .f-mid ul li {
        float: none;
        display: block;
        width: 100% !important;
        font-size: 14px;
    }



    .fbg {
        padding: 20px;
    }

    .f-mid {
        margin-top: 20px;
    }

    .byin {
        margin-top: -35px;
    }

    .tong-ul ul li a .li-tt {
        width: calc(100% - 108px);
    }
}


@media (max-width: 600px) {
    .mobile-header-btn {
        top: 10px;
    }

        .mobile-header-btn i {
            line-height: 50px;
        }

    .ke-ccon ul li a.a2 {
        padding-right: 0px;
        padding-top: 27px;
        padding-left: 0px;
    }
}
