@charset "utf-8";
body{
    -webkit-font-smoothing: antialiased;/*控制字体锯齿效果*/
    font-size: 1rem;
    color: rgba(0, 0, 0, .8);
}
li {
    list-style: none;
}
.menu, .navigation, .sub-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    display: block;
}
:after, :before {
    box-sizing: border-box;
}
.navigation--offcanvas li {
    color: rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid #f5f5f5;
}
.navigation--offcanvas li > a:after {
    position: absolute;
    top: 0;
    right: auto;
    bottom: 0;
    left: 0;
    transform: scale(0, 1);
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1) 0.1s;
}
.navigation--offcanvas > li > .sub-menu > li > a {
    text-decoration: none;
    padding: 15px 40px;
}
.navigation--offcanvas > li > a {
    font-weight: 700;
    text-decoration: none;
    position: relative;
    padding: 10px 10px;
    color: rgba(0,0,0,0.6);
}
.navigation--offcanvas .submenu-toggle {
    display: block;
    width: 36px;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    left: auto;
    text-align: center;
}
.mnmd-offcanvas {
    max-width: 100%;
    width: 320px;
    position: fixed;
    top: 0;
    right: 0;
    left: auto;
    bottom: 0;
    margin: 0;
    overflow-y: auto;
    background-color: white;
    z-index:999;
    transform: translate(101%,0);
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1) 0.1s;
}
@media (min-width:768px) {
    .mnmd-offcanvas {
        width: 360px;
    }
    .social-list {
        font-size: 1.14286rem;
    }
    .mobile-header-btn {
        height: 60px;
        position: absolute;
        text-decoration: none;
        display: inline-block;
        padding: 15px 15px;
        font-size: 14px;
        font-weight: 700;
        cursor: pointer;
        vertical-align: middle;
        color: #fff;
        right: 0px;
        top: 10px;
    }
}
.mnmd-offcanvas.is-active {
    box-shadow: 0 1px 10px 10px rgba(0,0,0,.1);
    -ms-transform: translate(0,0);
    transform: translate(0,0)
}
.mnmd-offcanvas__title {
    position: relative;
    padding: 20px 50px 20px 10px;
}
.mnmd-offcanvas__title .social-list {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    margin-top: 10px;
    color: rgba(0,0,0,0.4)
}
.mnmd-offcanvas-close {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 8px;
    right: 8px;
    bottom: auto;
    left: auto;
    padding: 0;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 50%;
    background: 0 0;
    color:#103381;
    line-height: 28px;
    text-align: center;
    text-decoration: none !important;
    overflow: hidden
}
.mnmd-offcanvas__section {
    padding: 20px 30px;
}

.mnmd-offcanvas__section:not(:first-child) {
    border-top: 1px solid rgba(0,0,0,.05)
}
.iconfont {
    font-size: 16px;
}
.mobile-header-btn i.icon-wangzhandaohang {
    font-size: 26px;
}
.mdicon--last {
    margin-left: 0.35em
}
.navigation--offcanvas .sub-menu {
    display: none;
    padding: 5px 0;
}
.navigation--offcanvas {
    margin: 0 -20px
}
/*.mnmd-offcanvas-backdrop {*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    background: rgba(0,0,0,.4);*/

/*}*/
.header-search-dropdown.is-active {
    display: block;
    box-shadow: 0 3px 2px 0 rgba(0,0,0,0.03),0 1px 0 0 rgba(0,0,0,0.04),0 -1px 0 0 rgba(0,0,0,0.04);
    opacity: 1;
    visibility: visible;
}
.mnmd-offcanvas.is-active {
    box-shadow: 0 1px 10px 10px rgba(0,0,0,.1);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
}
.slide-bar .slide-bar__item.js-go-top-el.is-active {
    display: block;
}